body{
  display: flex;
  flex-direction: column;
  /*margin-left: 150px;
  margin-right: 150px;*/
}
.header{
  display: flex;
  flex-direction: row;

}
h1{
  font-family: 'Poppins', sans-serif;
  margin-left: 50px;
}



.firstdiv{
  height: 90vh;
  width: 100%;
  background-image: url("../images/cropped.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#headshot{
  border-radius:50%;
  height: 40vh;
}

main{
  display: flex;
  width: 100%;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  align-content: center;
  justify-content: space-around;
}

.resume{
  display: flex;
  justify-content: center;
}

iframe{
  width:800px;
  height: 95vh;
}

.tabs{
  position: absolute;
  top: 5px;
  right: 50px;
}

.tabs li{
  text-decoration: none;
  display: inline-block;
  float:right;
  margin: 10px;
}
.tabs ul:last-child{
  margin-left: 20px;
}

nav{
  position: fixed;
  height: 10vh;
}

.intro{
  display: inline-block;
  background-color: hsla(238, 0%, 50%, 0.51);
  padding: 100px;
  position: absolute;
  right: 150px;
  top: 150px;
  text-align: center;
}

.text{
  display: block;
  width: 30%;
  padding: 30px;
  margin: 25px;
  float: left;
}
.images{
  display: block;
  float: left;
  diplay: flex;
  align-content: center;
  justify-content: center;
  padding: 25px;
  margin-left: 30px;
}


.section{
  padding: 25px;
  height: 100vh;
}

i{
  font-size: 50pt;
  margin: 10pt;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.icons{
  diplay: flex;
  width: 50%;
  flex-direction: column;
}
#Projects{
  background-image: url("../images/lightboards.jpg");
  background-size: cover;
}

.projectDivs{
  display: block;
  float: left;
  diplay: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 25px;
  margin-left: 30px;
  justify-content: space-around;
}

.project{
  display: inline-block;
  background-color: hsla(238, 0%, 50%, 0.51);
  text-align: center;
  width: 30%;
  margin: 10px;
  height: 40vh;
}

.projectPhoto{
  width: 90%;
}
