body{
  background-image: url("images/background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}
.me{
  height: 100px;
  width: 100px;
}
